$main_color:#0e5fa7;
$basic_color:#2aa4c6;

$color_1:#2068a7;
$color_2:#1d97b9;
$color_3:red;
$color_4:#18d26e;
$color_5:#6bdfff;

$bg_color:rgb(246, 253, 255);
$bg2_color:#ffffff;

$hover3_color:#4e4039;
$hover1_color:#7a6960;

$hover2_color:#fff;

$box_shadow:rgba(0, 0, 0, 0.1);




/* $main_color:#eb5d1e;
$basic_color:#ef7f4d;
$color_1:#ee7843;
$color_2:#f39e7a;
$color_3:red;
$color_4:#18d26e;

$bg_color:#fff;

$hover1_color:#7a6960;
$hover2_color:#fff; */